<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<!-- <http pattern="/login.xhtml" security="none" /> -->
	<http pattern="/javax.faces.resource/**" security="none" />

	<http auto-config="true">
<!-- 		<intercept-url pattern="/**" /> -->
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		<form-login default-target-url='/index.xhtml' />
		<logout />
		<csrf />
		<!-- <form-login login-page='/login.xhtml' /> -->
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="john" password="{noop}123456" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</b:beans>